.updates{
    width: 100%;
    border-radius: .75rem;
    padding:.5rem;
    display: flex;
    flex-direction: column;
    color: white;
}
.update{
    display: flex;
    align-items: center;
    gap:.5rem;
    padding: .5rem;
}
.update>img{
    width: 3rem;
    height: 3rem;
}
.update span{
    font-size: .7rem;
    font-family: var(--bdy-font-family);
}
.notification{
    display: flex;
    flex-direction: column;
}
.notification>span:nth-of-type(1){
    font-weight: 700;
    font-family: var(--bdy-font-family-alt);
    font-size: .8rem;
}
.notification>span:nth-of-type(3){
    font-weight: 700;
    font-family: var(--bdy-font-family-alt);
    font-size: .75rem;
}

