.topbar{
    display: flex;
    padding:  1rem 3rem 1rem 4rem;
    justify-content: space-between;
}
.topRight{
    display: flex;
    gap: .5rem;
}
.Canvas{
    background: var(--cont-color);
    border-radius: 10px;
}
.noti{
    margin-top: 2.5rem;
    height: 100vh;
}
.canvas-header{
    display: flex;
    align-items: center;
}
.canvas-header h3{
    margin: auto;
    text-transform: uppercase;
}
@media screen and (max-width: 768px) {
    .Canvas{
        width: 75% !important;
    }
}