.MuiTableRow-root >*{
    padding: .75rem;
}
.MuiTableRow-root.MuiTableRow-head>*{
    font-weight: 900 !important;
    font-family: var(--bdy-font-family-alt) !important;
    text-transform: uppercase;
}

.table td, th{
    border: none !important;
    font-weight: 700 !important;
}
.table:first-child{
    border-radius: .75rem !important;
}
.name{
    font-size: .85rem !important;
    text-transform: capitalize;
    font-family: var(--bdy-font-family-alt) !important;
}
.tracking, .date{
    font-size: .75rem !important;
    font-weight: 500 !important;
    font-family: var(--bdy-font-family) !important;
}
.status{
    padding:.35rem;
    border-radius:.25rem;
    font-size: .85rem !important;
    font-family: var(--bdy-font-family-alt) !important;
}
.details{
    color: rgb(49, 19, 220) !important;
    font-size: .75rem !important;
    font-family: var(--bdy-font-family-alt) !important;
}

@media screen and (max-width: 1400px) {
    .table {
      width: 100%;
    }
  }
  
  
  @media screen and (max-width: 768px) {
    .table{
      display: flex;
      flex-direction: column;
      width: 100%;
      min-width: 20rem;
    }
  }