.orderimg>img{
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50%;
}
.orderimg{
    display: flex;
}
.button{
    padding: .25rem .5rem;
    border-radius: .75rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: capitalize;
}